body
{
    background-size: cover;
  background-position: center;
}

.heading
{
  width: 100%;
  font-size: 23;
  font: Verdana;
  margin-top: 0;
}

.status
{
  text-align: center;
  font-size: 15;
}

.Object_name
{
  color: darkred;
  font-size: 23;
  font: Verdana;
}